body {
  margin: 0;
  padding: 0;
  background-color: #44957bba;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #57ddc5;
}
h2 {
  text-align: center;
  color: #23463f;
  padding: 20px;
}
.sign {
  width: 382px;
  overflow: hidden;
  margin: auto;
  margin: 20 0 0 450px;
  padding: 80px;
  background: #23463f;
  border-radius: 15px;
}
label {
  color: #08ffd1;
  font-size: 17px;
  text-align: left;
  justify-content:right;
}

#email {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
  margin: 10px;
}
#pass {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
  margin: 10px;
}
#pass2 {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
  margin: 10px;
}

a {
  text-decoration: none;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #b5f0e5;
}
.button {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: blue;
  background: linear-gradient(#0f91ceba, #1e6538);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #08ffd1;
  margin: 10px;
  align-items: center;
}
